# Environment Variables Example
# Copy this file to .env and fill in your actual values
# Do not commit .env to GitHub

BASE_URL=https://test.hris2.awsys-i.com/login
LOGIN_URL=https://awsys-hris-test:password@test.hris2.awsys-i.com/login
VALID_USERNAME=your_username@example.com
VALID_PASSWORD=your_password
BROWSER=chrome
IMPLICIT_WAIT=10